* {
  background-color: aqua;
  text-align: center;
  font-family: Verdana;
}


/* Styling the Form (Color, Padding, Shadow) */

survey-form {
  max-width: 500px;

  margin: 50px auto;

  padding: 30px 20px;

  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */

.form-control {
  text-align: left;

  margin-bottom: 25px;
}

/* Styling form-control Label */

.form-control label {
  display: block;

  margin-bottom: 10px;
}


#checkbox,
#radio {
  text-align:inherit;
}


/* Styling Button */

button {
  background-color: #05c46b;

  border: 1px solid #777;

  border-radius: 2px;

  font-family: inherit;

  font-size: 21px;

  display: block;

  width: 100%;

  margin-top: 50px;

  margin-bottom: 20px;
}
